{% extends 'base.html' %}

{% block content %}

<div class="row">
    <div class="column" style="width: 300px;padding-left: 50px">
        <img class="card-img-top" src="{{ product.p_image.url }}" alt="image">
    </div>
    <div class="column" style="width: 300px;padding-left: 50px">
        <h3>{{product.p_name}}</h3>
        <br />
        <hr />
        <p>{{product.p_description}}</p>
        <h6>{{product.p_cost}} rupees</h6>
    </div>
    <div class="column" style="width: 300px;padding-left: 75px;">
        <form method="POST" action="{% url 'addtocart' product_id=product.p_id%}">
            {% csrf_token %}
            <p>{{form.as_p}}</p>
            <input class=" btn btn-primary" type="submit" onclick="{javascript:alert('Item added to cart')}" value="Add to Cart"/>
        </form>
        <br />
        <form method="POST" action="{% url 'addtowish' product_id=product.p_id%}">
            {% csrf_token %}
            <input class=" btn btn-primary" type="submit" onclick="{javascript:alert('Item added to wishlist')}"
                   value="WishList"/>
        </form>
    </div>
</div>

{% endblock %}